<% provide(:title, "Login") %>
<h1>Login<h1>
<div class="login-page">

    <form class="login-form">
      <p>Email<p>
      
      <input type="text" placeholder="username"/>
      </br>
      <p>Password<p>
        
      <input type="password" placeholder="password"/>
      </br>

      <button>login</button>
    <p class="message">new user? <%= link_to "Sign Up now!", '/SignUP' %></p>
    </form>
  </div>
</div>


